body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color:#495e66;
}

@font-face {
font-family: "night";
src: url("nightmare.otf") format("opentype");
}
@font-face {
font-family: "charm";
src: url("Charming.otf") format("opentype");
}
/*тексты*/
.name{
  font-family: night;
  font-size: 10vw;
  position: absolute;
  top: 25%;
  left: 10%;
  color: #bd083f;
}

.kanicoName{
  font-family: charm;
  font-size: 3vw;
  position: absolute;
  top: 18%;
  left: 10%;
  color: white;
}

.date{
	font-size: 2vw;
  position: absolute;
  top: 44%;
  left: 10%;
  color: #c7ccd0;
}

.place{
	font-size: 2vw;
  position: absolute;
  top: 49%;
  left: 10%;
  color: #c7ccd0;
}
/*Контейнеры*/
.container .ticket {
  position: absolute;
  top: 85%;
  left: 10%;
 }
 
 .container .cos {
  position: absolute;
  top: 85%;
  left: 40%;
 }
 
/* .container{
  position: relative;
  width: 50%;
}*/

.container img {
  width: 100vw;
  height: auto;
}


.container{
  position: relative;
  width: 50vw;
}

.container img {
  width: 100vw;
  height: auto;
}

.frame{
	
}
/*кнопки
button{
  padding: 2%;
}*/


.container .btn {
  width: 13vw;
  height: 4vw;
  font-size: 1.5vw;
  padding: 2%;
  border: 5px white;
  cursor: pointer;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.2);
 
}

.container .btn:hover {
 background-color: rgba(255,255,255);
}
.container .btn span{
  color: #c6ced1;
  filter:opacity(100%);
}

.container .btn:hover span{
	color: #2b2c2e;
}